<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SolarSystemSoundMachine</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="styles/combined.css">
	</head>
	<body ng-app="SolarSystemSoundMachine">

		<img id="logo" src="assets/logo.png">

		<div id="content" ng-class="{menuOpen: menuVisible}">
			<div id="canvasContainer"></div>
		</div>

		<div id="menu">
			<div id="menuWrapper" ng-class="{visible: menuVisible}">
				<div id="menuHeader"></div>
				<div id="menuContentScrollWrapper">
					<div id="menuContent" ng-controller="MenuController as menu">
						Universal Speed:
						<md-slider ng-model="menu.params.rotationSpeed" min="0" max="20" aria-label="universal speed"></md-slider>
						<br />

						<div ng-repeat="planet in menu.params.planets">
							<div planet-settings="planet">
								<div class="planetSubSettings">


									<div><span class="label">Note</span>
										<md-select placeholder="Note" ng-model="planet.note" parse-int>
									    	<md-option value="0">C</md-option>
									    	<md-option value="1">C#</md-option>
									    	<md-option value="2">D</md-option>
									    	<md-option value="3">D#</md-option>
									    	<md-option value="4">E</md-option>
									    	<md-option value="5">F</md-option>
									    	<md-option value="6">F#</md-option>
									    	<md-option value="7">G</md-option>
									    	<md-option value="8">G#</md-option>
									    	<md-option value="9">A</md-option>
									    	<md-option value="10">A#</md-option>
									    	<md-option value="11">B</md-option>
									  	</md-select>
								  	</div>

								  	<div><span class="label">Octave</span>
										<md-select placeholder="Note" ng-model="planet.octave" parse-int>
									    	<md-option value="1">1</md-option>
									    	<md-option value="2">2</md-option>
									    	<md-option value="3">3</md-option>
									    	<md-option value="4">4</md-option>
									  	</md-select>
								  	</div>

									<div>
										<span class="label">Velocity</span>
										<md-slider ng-model="planet.velocity"
													min="1"
													max="127"
													ng-class="planet.name"
													aria-label="{{planet.name}} velocity"></md-slider>
									</div>
									<div>
										<span class="label">Length</span>
										<md-slider ng-model="planet.noteLength"
													min="0.1"
													max="2"
													step="0.1"
													ng-class="planet.name"
													aria-label="{{planet.name}} note length"></md-slider>
									</div>
								</div>
							</div>
							<br />
						</div>
					</div>
				</div>
			</div>
			<div id="nav-icon1" ng-click="menuVisible = !menuVisible" ng-class="{open: menuVisible}">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</div>

		<div id="footer">
			<span style="position: relative; top: -10px">a project by
				<a href="https://github.com/pwambach" target="_blank">Philipp Wambach</a>
			</span>
			&nbsp;
			<a href="https://github.com/pwambach" target="_blank"><img src="assets/GitHub-Mark-Light-32px.png"></a>
		</div>



		<script type="x-shader/x-vertex" id="vertexShader">
			uniform float frame;
			uniform float amplitude;

			void main() {
    			vec3 newPosition = position;
    			newPosition.x = newPosition.x + sin(newPosition.x+frame*0.5)*amplitude;
    			newPosition.z = newPosition.z + sin(newPosition.z+frame*0.5)*amplitude;
    			gl_Position = projectionMatrix * modelViewMatrix * vec4( newPosition, 1.0 );
			}
		</script>
		<script type="x-shader/x-fragment" id="fragmentShader">
			uniform float amplitude;

			void main() {
			    gl_FragColor = vec4( .53, .95, .95, 1. ) + (amplitude / 10.0);
			}
		</script>


		<script src="vendor.js"></script>
		<script src="midi-build.js"></script>
		<script src="build.js"></script>

	</body>
</html>
